<!DOCTYPE HTML>
<html>
<head>
    <title>Test</title>
</head>
<body>
<script type='text/javascript' src='//g.alicdn.com/sj/lib/zepto/zepto.min.js' charset='utf-8'></script>
<script>
    test();
    function test() {

        $.ajax({
            type: "get",
            url: 'tempapi/getpost',
            data: {},
            dataType: "json",
            success : function(result) {
                console.log(result);
            },
            error : function(){}
        });
//        $.ajax({
//            type: "get",
//            url: 'tempapi/addinfo',
//            data: {post:'hanqi', temp:'20'},
//            dataType: "json",
//            success : function(result) {
//                console.log(result);
//            },
//            error : function(){}
//        });
    }
</script>
</body>
</html>
