<!DOCTYPE HTML>
<html>
<head>
    <title>Test</title>
</head>
<body>
<script type='text/javascript' src='//g.alicdn.com/sj/lib/zepto/zepto.min.js' charset='utf-8'></script>
<script>
    test();
    function test() {

        $.ajax({
            type: "get",
            url: 'tempapi/getinfo',
            data: {post:122, date:'2015-02-11'},
            dataType: "json",
            success : function(result) {
                console.log(result);
            },
            error : function(){}
        });
    }
</script>
</body>
</html>
